In [1]:
# 리스트는 C언어의 배열과 유사하고 JAVA의 List 인터페이스 List 인터페이스를 구현받아 작성된 ArrayList와 똑같다.
# 리스트를 만들때는 데이터를 []로 감싸고 각각의 데이터는 ','로 구분한다.

In [4]:
# 빈 리스트 만들기
a = []
print(a)
print(type(a))
# 빈 리스트는 생성자 함수를 이용해서도 만들수 있다.
b = list()
print(b)
print(type(b))

[]
<class 'list'>
[]
<class 'list'>

In [9]:
c = [1, 2, 3]
print(c)
print(type(c))
d = ['A', 'B', 'C']
print(d)
print(type(d))
e = [100, 200, 'A', 'B']
print(e)
print(type(e))
f = [100, 200, ['A', 'B']]
print(f)
print(type(f))
g = [[100, 200], ['A', 'B']]
print(g)
print(type(g))

[1, 2, 3]
<class 'list'>
['A', 'B', 'C']
<class 'list'>
[100, 200, 'A', 'B']
<class 'list'>
[100, 200, ['A', 'B']]
<class 'list'>
[[100, 200], ['A', 'B']]
<class 'list'>

In [13]:
# 리스트 인덱싱
a = [10, 20, 30, 40, 50]
print(a[0])
print(type(a[0])) # 결과를 상수(일반 데이터)로 얻어온다.
print(a[-1])

10
<class 'int'>
50

In [19]:
# 리스트 슬라이싱 => 결과를 리스트로 얻어온다.
a = [10, 20, 30, 40, 50]
print(a[0:1])
print(type(a[0:1]))
print(a[1:4])
print(a[::-1])

[10]
<class 'list'>
[20, 30, 40]
[50, 40, 30, 20, 10]

In [22]:
# 리스트 연산자
# '+' 연산자는 두 개의 리스트를 연결한다.
print([1, 2, 3] + [4, 5, 6, 7])
# '*' 연산자는 리스트를 지정된 횟수만큼 반복한다.
print([1, 2, 3] * 3)
print('=' * 80)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
================================================================================

In [30]:
a = [[100, 200], ['A', 'B']]
print(a)
print(a[0])
print(a[1])
print(a[0][0])
print(a[0][1])
print(a[1][0])
print(a[1][1])

[[100, 200], ['A', 'B']]
[100, 200]
['A', 'B']
100
200
A
B

In [35]:
a = [[[100, 200], ['A', 'B']], [['홍길동', '임꺽정'], ['장길산', '일지매']]]
print(a)
print(a[1])
print(a[1][0])
print(a[1][0][1])

[[[100, 200], ['A', 'B']], [['홍길동', '임꺽정'], ['장길산', '일지매']]]
[['홍길동', '임꺽정'], ['장길산', '일지매']]
['홍길동', '임꺽정']
임꺽정

In [36]:
# 리스트 메소드

In [40]:
# append() 메소드는 리스트의 맨 뒤에 인수로 지정한 데이터를 추가한다.
a = [10, 20, 30, 40, 50]
print(a)
a.append(999)
print(a)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 999]

In [42]:
# insert() 메소드는 지정된 index에 인수로 지정한 데이터를 삽입한다. => index 부터 데이터가 한칸씩 뒤로 이동된다.
a = [10, 20, 30, 40, 50]
print(a)
a.insert(1, 999)
print(a)
a[1] = 777
print(a)

[10, 20, 30, 40, 50]
[10, 999, 20, 30, 40, 50]
[10, 777, 20, 30, 40, 50]

In [44]:
# sort() 메소드는 리스트에 저장된 데이터를 별도의 설정이 없으면 오름차순(한글 가나다, 영문 ABC)으로 정렬한다.
a = [8, 3, 4, 9, 1]
print(a)
a.sort()
print(a)

[8, 3, 4, 9, 1]
[1, 3, 4, 8, 9]

In [45]:
a = ['d', 'b', 'a', 'c']
print(a)
a.sort()
print(a)

['d', 'b', 'a', 'c']
['a', 'b', 'c', 'd']

In [46]:
a = ['홍길동', '임꺽정', '장길산', '일지매']
print(a)
a.sort()
print(a)

['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '임꺽정', '장길산', '홍길동']

In [47]:
# reverse 옵션의 기본값은 생략시 False가 기본값이고 오름차순으로 정렬된다. True로 지정하면 내림차순으로 정렬된다.
a = [8, 3, 4, 9, 1]
print(a)
a.sort(reverse=False)
print(a)

[8, 3, 4, 9, 1]
[1, 3, 4, 8, 9]

In [49]:
a = ['d', 'b', 'a', 'c']
print(a)
a.sort(reverse=True)
print(a)

['d', 'b', 'a', 'c']
['d', 'c', 'b', 'a']

In [50]:
a = ['홍길동', '임꺽정', '장길산', '일지매']
print(a)
a.sort(reverse=True)
print(a)

['홍길동', '임꺽정', '장길산', '일지매']
['홍길동', '장길산', '임꺽정', '일지매']

In [52]:
a = ['홍길동', '임꺽정', '장길산', '일지매']
print(a)
a.sort()
print(a[::-1])

['홍길동', '임꺽정', '장길산', '일지매']
['홍길동', '장길산', '임꺽정', '일지매']

In [54]:
a = [100, '010', 55, '12345']
a.sort() # 정렬하려는 리스트에 저장된 데이터의 타입이 다를 경우 에러가 발생된다.

TypeError: '<' not supported between instances of 'str' and 'int'

In [55]:
# reverse() 메소드는 리스트에 저장된 데이터의 순서를 뒤집는다.
a = ['홍길동', '임꺽정', '장길산', '일지매']
print(a)
a.reverse()
print(a)

['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '장길산', '임꺽정', '홍길동']

In [62]:
# remove() 메소드는 인수로 지정된 데이터를 리스트에서 제거한다. => 같은 데이터가 있으면 앞의 데이터를 제거한다.
a = ['홍길동', '임꺽정', '장길산', '일지매', '임꺽정']
print(a)
result = a.remove('임꺽정')
print(result, a)
a.remove('임꺽정')
print(a)

['홍길동', '임꺽정', '장길산', '일지매', '임꺽정']
None ['홍길동', '장길산', '일지매', '임꺽정']
['홍길동', '장길산', '일지매']

In [63]:
# pop() 메소드는 리스트의 마지막 데이터를 얻어온 후 제거한다.
a = ['홍길동', '임꺽정', '장길산', '일지매', '임꺽정']
print(a)
result = a.pop()
print(result, a)
a.pop()
print(a)

['홍길동', '임꺽정', '장길산', '일지매', '임꺽정']
임꺽정 ['홍길동', '임꺽정', '장길산', '일지매']
['홍길동', '임꺽정', '장길산']