In [1]:
# 튜플 만들기
# 튜플은 리스트와 비슷하지만 리스트는 데이터를 []로 감싸주고 튜플 ()로 감싸준다는 것과 리스트는 데이터의
# 수정, 삭제가 가능하지만 튜플은 수정, 삭제가 불가능하다.

In [5]:
a = [1, 2, 3]
print(a)
a[0] = 4
print(a)
del a[0]
print(a)

[1, 2, 3]
[4, 2, 3]
[2, 3]

In [9]:
# 빈 튜플 만들기
a = ()
print(a)
print(type(a))
# 빈 튜플은 생성자 함수를 이용해서도 만들 수 있다.
b = tuple()
print(b)
print(type(b))

()
<class 'tuple'>
()
<class 'tuple'>

In [17]:
# 데이터가 1개인 튜플 만들기
a = [1]
print(a)
b = list([1])
print(b)
c = (1) # ()만 사용하면 일반적인 연산삭에 사용하는 ()로 인식한다.
print(c)
d = (1,)
print(d)
print(type(d))

[1]
[1]
1
(1,)
<class 'tuple'>

In [23]:
a = (1, 2)
print(a)
b = ('a', 'b', 'c')
print(b)
c = (1, 2, 3, 'a', 'b')
print(c)
d = (1, 2, 3, ('a', 'b'))
print(d)
e = (1, 2, 3, ['a', 'b'])
print(e)
f = [1, 2, 3, ('a', 'b')]
print(f)

(1, 2)
('a', 'b', 'c')
(1, 2, 3, 'a', 'b')
(1, 2, 3, ('a', 'b'))
(1, 2, 3, ['a', 'b'])
[1, 2, 3, ('a', 'b')]

In [32]:
# 튜플은 ()를 생략하더라도 변수에 데이터를 ','로 구분해서 여러개를 넣으면 자동으로 튜플로 인식한다.
a = 1, 2, 3, 4, 5, 6, 7
print(a)
print(type(a))
# 튜플은 리스트처럼 인덱싱, 슬라이싱이 가능하다.
print(a[1])
print(a[-1])
print(a[1:6])
# '+', '*' 연산이 가능하다.
print((1, 2, 3) + (4, 5, 6))
print((1, 2, 3) * 3)

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
2
7
(2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [34]:
a = 1, 2, 3
print(a)
a[0] = 1000 # 요소 수정 불가

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [35]:
a = 1, 2, 3
print(a)
del a[0] # 요소 삭제 불가

(1, 2, 3)

TypeError: 'tuple' object doesn't support item deletion

In [40]:
del a

In [45]:
a = 3; b = 4
print('a: {}, b: {}'.format(a, b))
# a와 b에 저장된 값을 교환한다.
# python, c, java 모두 사용가능
temp = a
a = b
b = temp
print('a: {}, b: {}'.format(a, b))
[a, b] = [b, a]
print('a: {}, b: {}'.format(a, b))
(a, b) = (b, a)
print('a: {}, b: {}'.format(a, b))
a, b = b, a
print('a: {}, b: {}'.format(a, b))

a: 3, b: 4
a: 4, b: 3
a: 3, b: 4
a: 4, b: 3
a: 3, b: 4